- if current_student.lessons.include?(lesson)
  = button_to '予約解除', lesson_reservation_path(lesson.lesson_reservation), method: :delete
-else
  = form_with(model: current_student.lesson_reservations.new(lesson_id: lesson.id)) do |f|
    = f.hidden_field :lesson_id
    = f.submit '予約する'
